.containerElement {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    gap: 1rem;
}

.lessonContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}
