// Color
$color-black: #000000;
$color-grey: #202023;
$color-light-grey: #2f2f33;
$color-white: #ffffff;
$color-orange: #ed7000;
$color-orange-disabled: rgba(237, 112, 0, 0.6);
$color-orange-12: rgba(237, 112, 0, 0.12);
