<nav>
    <ul>
        <li><a href="/">Accueil</a></li>
        <li><a href="/all-course">Tous les cours</a></li>
        <li><a href="/new-course">Ajouter un nouveau cours</a></li>
        <li class="disconnect"><a href="#disconnect">Se déco</a></li>
    </ul>
</nav>
<style is="scss">
    nav {
        border-bottom: 1px solid rgba(var(--accent-light), 25%);
        background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
        position: fixed;
        width: 100%;
        z-index: 99999999;

        ul {
            padding: 25px ;
            list-style: none;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: flex-start;

            li {
                display: inline-block;

                a {
                    display: block;
                    padding: 10px;
                    text-decoration: none;
                    color: white;

                    &:hover {
                        background: white;
                        color: black;
                    }
                }

                &.disconnect {
                    margin-left: auto;
                }
            }
        }
    }
</style>