.comp-card {
    border-radius: 10px;
    padding: 20px;
    color: $color-white;
    text-align: left;
    transition:
        background 0.2s linear,
        border 0.2s linear;
    display: flex;
    flex-direction: column;
    justify-content: center;

    background: rgba(255, 255, 255, 0.35);
    box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.197);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 10px;

    > h3 {
        transition: color 0.2s linear;
    }

    > p {
        margin-top: 10px;
    }

    &:hover {
        background: $color-light-grey;

        > h3 {
            color: $color-orange;
        }
    }

    &.-portal {
        background: $color-orange;
        transition: opacity 0.2s linear;

        &:hover {
            box-shadow: 0 0 5px 5px whitesmoke;

            > h3 {
                color: $color-white;
            }
        }
    }
}
