.edit-note {
	h1 {
		text-align: left;
		margin-bottom: 50px;
	}

	.form {
		display: flex;
		flex-direction: column;

		.input-title {
			margin-top: 10px;
			margin-bottom: 30px;
			padding: 10px;
			border: none;
			background: $color-grey;
			color: $color-white;
			outline: none;
		}

		.input-notes {
			margin-top: 10px;
			margin-bottom: 30px;
			padding: 10px;
			border: none;
			background: $color-grey;
			color: $color-white;
			outline: none;
			height: 300px;
			resize: none;
		}
	}

	.update-btn {
		width: 100%;
		margin-top: 1rem;
		padding: 0.5rem;
		background: $color-orange;
		color: $color-black;
		border-radius: 10px;
		border: none;
	}

	.update-btn:hover {
		background: $color-white;
		color: $color-black;
		transition: background 0.2s linear;
		cursor: pointer;
	}
}
