.speakers {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	color: $color-grey;

	h1 {
		color: $color-white;
		text-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
		text-align: left;
		margin-bottom: 1rem;
	}

	.personListContainer {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 1rem;
		margin-top: 30px;

		.personCard {
			background: rgba(255, 255, 255, 0.35);
			border: rgba(255, 255, 255, 0.8) 1px solid;
			display: flex;
			flex-direction: column;
			gap: 0.5rem;
			padding: 1rem;
			box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
			border-radius: 10px;

			code {
				font-size: 12px;
				border-radius: 50px;
				padding: 2px 10px;
				font-weight: lighter;
				background-color: rgba(47, 47, 51, 0.1);
				color: $color-grey;

				a {
					color: $color-grey;
					text-decoration: none;
				}

				&:hover {
					background-color: rgba(47, 47, 51, 0.2);
				}
			}

			.more-infos {
				display: flex;
				gap: 50px;
			}
		}
	}
}
