.students {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .personListContainer {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .personCard {
            background: $color-grey;
            border-radius: 10px;
            padding: 20px;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            padding: 0.5rem;
            border: 1px solid black;
            border-radius: 0.25rem;

            code {
                font-size: 15px;
            }

            .more-infos {
                display: flex;
                gap: 50px;
            }
        }
    }
}