.comp-push-note {
	border-radius: 10px;
	padding: 20px;
	color: $color-grey;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
	text-align: left;
	transition: background 0.2s linear, border 0.2s linear;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	overflow: hidden;
	background-color: rgba(255, 255, 255, 0.25);
	border: rgba(255, 255, 255, 0.8) 1px solid;
	cursor: pointer;

	> .end h2 {
		transition: color 0.2s linear;
		text-decoration: none;
		font-size: 2em;
		font-weight: normal;
	}

	> .end {
		display: flex;
		flex-direction: column;
		gap: 12px;
		font-size: 0.8em;
		font-weight: bold;
	}

	> .end .auteur {
		font-weight: lighter;
	}

	> .description {
		margin-top: 10px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		height: 100px;
	}

	> .view {
		background-color: $color-orange;
		padding: 10px 20px;
		border-radius: 10px;
		width: fit-content;
		color: $color-black;

		&:before {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			content: "";
		}

		&:hover {
			opacity: 0.8;
			color: $color-black;
			transition: background 0.2s linear;
		}
	}

	&:hover {
		background-color: rgba(255, 255, 255, 0.8);

		> h2 {
			color: $color-orange;
		}
	}
}
